body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333333;
  background-color: #f5f5f5;
}

/* Estilos para el encabezado */
header {
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para la navegación */
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: right;
}

nav li {
  display: inline-block;
  margin-left: 20px;
}

nav a {
  display: block;
  padding: 10px 20px;
  color: #333333;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  transition: all 0.3s ease;
}

nav a:hover {
  background-color: #333333;
  color: #ffffff;
}

/* Estilos para el título principal */
#hero {
  background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url('fondo.jpg');
  background-position: center;
  background-size: cover;
  padding: 100px 0;
  text-align: center;
  color: #333333;
}

#hero h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

#hero p {
  font-size: 24px;
  margin-bottom: 40px;
}

/* Estilos para los botones */
.boton-primario {
  display: inline-block;
  padding: 10px 20px;
  background-color: #33105D;
  color: #ffffff;
  border-radius: 5px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  transition: all 0.3s ease;
}

.boton-primario:hover {
  background-color: #ffffff;
  color: #ff6600;
}

/* Estilos para la sección de servicios */
#servicios {
  background-color: #ffffff;
  padding: 100px 0;
  text-align: center;
}

#servicios h2 {
  font-size: 36px;
  margin-bottom: 40px;
}

#servicios ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

#servicios li {
  display: inline-block;
  margin: 0 20px;
  padding: 20px;
  background-color: #ff6600;
  color: #ffffff;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
  transition: all 0.3s ease;
}

#servicios li:hover {
  background-color: #ffffff;
  color: #ff6600;
}

/* Estilos para la sección de nosotros */
#nosotros {
  background-color: #f5f5f5;
  padding: 100px 0;
  text-align: center;
}

#nosotros h2 {
  font-size: 36px;
  margin-bottom: 40px;
}
